
<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                   
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your new 
                    password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <form [formGroup]="resetForm" (ngSubmit)="resetUser()"  >
                    <div class="form-group">
                        <input type="password" id="password" placeholder="new password" class="form-control" formControlName="password"
                            name="password"  required/>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary w-100" >
                </form>
            <small style="color: lightslategray; text-align: center;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Don't have Acoount ?
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
        
        <div class="card-footer text-right">
            <small type="button" (click)="SignUp()" >SignUp</small>
        </div>
        <small style="color: lightslategray; text-align: center;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rembember
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
        <div class="card-footer text-left">
            <small type="button" (click)="login()">Login</small>
        </div>
            </div>
        </div>
    </div>
</div>
