<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;" class="text-center">
                 change your password</p>
                <form [formGroup]="changepassForm" (ngSubmit)="changePass()">
                    <div class="form-group">
                        <input type="password" id="oldPassword" placeholder="Old Password" class="form-control"
                            formControlName="oldPassword" name="oldPassword" />
                            <div class="form-text text-danger" *ngIf="changepassForm.controls['oldPassword'].touched && !changepassForm.controls['oldPassword'].valid">old password is required min 8 digit with title case and one symbol </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" id="newPassword" placeholder="newPassword" class="form-control"
                            formControlName="newPassword" name="newPassword" #pw />
                            <div class="form-text text-danger"
                            *ngIf="(!passwordsMatching && isConfirmPasswordDirty)  || (changepassForm.controls['newPassword'].touched && !changepassForm.controls['newPassword'].valid)"> new
                            password is required min 8 digit with title case and one symbol and password should be same as confirm password</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" id="confirmPassword" placeholder="confirmPassword" class="form-control"
                            formControlName="confirmPassword" name="confirmPassword"    #cpw (keyup)='checkPasswords(pw.value, cpw.value)'/>
                            <div class="form-text text-danger"
                            *ngIf="(!passwordsMatching && isConfirmPasswordDirty ) || (changepassForm.controls['confirmPassword'].touched && !changepassForm.controls['confirmPassword'].valid)"> new
                            password is required min 8 digit with title case and one symbol and password should be same as new password </div>
                    </div>
                    <br>
                    <div *ngIf='!passwordsMatching && isConfirmPasswordDirty'>
                        Passwords did not match
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="form-control btn btn-primary"
                            />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>