<div class="container" style="margin-top: 30px;">
    <div class="row justify-content-center h-100">
        <div class="card shadow">
            <div class="card-body px-5">
                <div class="text-center">
                </div>
                <p style="color: lightslategray; text-align: center; font-size: 24px;" class="text-center">
                 Change Your Password</p>
                <form [formGroup]="changepassForm" (ngSubmit)="changePass()">
                    <div class="form-group">
                        <input type="password" id="oldPassword" placeholder="Old Password" class="form-control"
                            formControlName="oldPassword" name="oldPassword" />
                            <div class="form-text text-danger" *ngIf="changepassForm.controls['oldPassword'].touched && !changepassForm.controls['oldPassword'].valid">Password should be of min 8 length contains One uppercase , lowercase and Special Symbol and numbers</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" id="newPassword" placeholder="New Password" class="form-control"
                            formControlName="newPassword" name="newPassword" #pw />
                            <div class="form-text text-danger"
                            *ngIf="(!passwordsMatching && isConfirmPasswordDirty)  || (changepassForm.controls['newPassword'].touched && !changepassForm.controls['newPassword'].valid)">
                            Password should be of min 8 length contains One uppercase , lowercase and Special Symbol and numbers</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" id="confirmPassword" placeholder="Confirm Password" class="form-control"
                            formControlName="confirmPassword" name="confirmPassword"    #cpw (keyup)='checkPasswords(pw.value, cpw.value)'/>
                            <div class="form-text text-danger"
                            *ngIf="(!passwordsMatching && isConfirmPasswordDirty ) || (changepassForm.controls['confirmPassword'].touched && !changepassForm.controls['confirmPassword'].valid)">
                            Password should be of min 8 length contains One uppercase , lowercase and Special Symbol and numbers</div>
                    </div>
                    <br>
                    <div *ngIf='!passwordsMatching && isConfirmPasswordDirty'>
                        Passwords did not match
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="form-control btn btn-primary"
                            />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>