<nav class="navbar navbar-expand" style="background-color: #e3f2fd;">
    
  <h3 style="color:#6495ED ; margin-left: 20px;">CHAT<Span style="color: #34495E ;">APP</Span></h3>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: end; margin-right: 10px;">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let navItems of navLink" style="margin-left:20px;">
          <button class="btn btn-primary"  (click)="submit($event)" value={{navItems.click}}>{{navItems.name}}</button>
        </li>
      </ul>
    </div>
  </nav>